@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700&display=swap');


* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}


/* Navigation Menu */

#menu-bar {
    position: relative;
}

#title {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 5px;
    text-align: center;
    margin: 20px 0 0 0;
}

/* Hamburger Menu */
#menu {
    width: 35px;
    height: 30px;
    margin: -20px 0 20px 30px;
    cursor: pointer;
}

.bar {
    background-color: #000;
    height: 1px;
    width: 100%;
    display: block;
    border-radius: 2px;
}

#bar1 {
    transform: translateY(-8px);
}

#bar3 {
    transform: translateY(8px);
}

.menu-item {
    text-decoration: none;
    list-style: none;
}

.change #bar1 {
   transform: translateY(1px) rotateZ(45deg);
}

.change #bar3 {
    transform: translateY(-1px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

/* Dropdown Menu */
.nav li a {
    text-decoration: none;
}

.nav li {
    list-style: none;
    padding: 15px 0;
}

.nav li a:hover {
    font-weight: bold;
}

.nav {
    padding: 0;
    margin: 50px;
    transition: 0.3s ease;
    display: none;
    position:absolute;
    top: 30px;
    left: -20px;
    background-color: #fff;
}

.change {
    display: block;
}

/* Header Image */

.main-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
}

.main-image {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
}

.main-image:hover .overlay {
    opacity: 1;
    letter-spacing: 5px;
}

/* Showcase Images */

#showcase-title {
    text-align: center;
    font-weight: 100;
    
    margin-top: 70px;
}

.showcase {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 30px 20px 10px;
}

.showcase-wrapper {
    width: 300px;
    max-width: 100%;
    height: auto;
    max-height: 400px;
    margin: 20px 10px;
    overflow: hidden;
}

/* Image Modals */

.showcase-img {
    cursor: pointer;
    transition: 0.3s;
  }
  
.showcase-img:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: 100;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

/* Media Queries */

@media (max-width: 600px) {
    #title {
        font-size: 1rem;
    }

    .overlay{
        display: none;
    }
}

@media (max-width: 900px) {
    .overlay {
        letter-spacing: 2px;
    }
}

